[user]
	email = 3253971+figadore@users.noreply.github.com
	name = Reese Wilson
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[alias]
	aa = "add -u ."
	a = "add"
	d = diff
	c = commit
	ca = "commit --amend"
	co = checkout
	cm = "commit -m"
	p = "push"
	s = "status"
	branch-clean = "! git branch -l --merged | xargs git branch -d"
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[oh-my-zsh]
	hide-status = 1
	hide-status = 1
	hide-dirty = 1
