[user]
	email = 3253971+figadore@users.noreply.github.com
	name = Reese Wilson
	signingkey = 7EB37E1CD31C01CC
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[credential]
	helper = !aws --profile tools-dev codecommit credential-helper $@
	UseHttpPath = true
[alias]
	aa = "add -u ."
	a = "add"
	d = diff
	c = commit
	ca = "commit --amend"
	co = checkout
	cm = "commit -m"
	p = "push"
	s = "status"
	branch-clean = "! git branch -l --merged | xargs git branch -d"
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git:"]
	insteadOf = https://rawilson@git.healthsparq.net/scm/
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
